@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?o9lrpc');
    src:    url('fonts/icomoon.eot?o9lrpc#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?o9lrpc') format('truetype'),
        url('fonts/icomoon.woff?o9lrpc') format('woff'),
        url('fonts/icomoon.svg?o9lrpc#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-event:before {
    content: "\e901";
}
.icon-phone:before {
    content: "\e903";
}
.icon-icons-all .path1:before {
    content: "\e904";
    color: rgb(0, 124, 247);
}
.icon-icons-all .path2:before {
    content: "\e905";
    margin-left: -0.0986328125em;
    color: rgb(255, 255, 255);
}
.icon-icons-all .path3:before {
    content: "\e908";
    margin-left: -0.0986328125em;
    color: rgb(0, 124, 247);
}
.icon-icons-all .path4:before {
    content: "\e909";
    margin-left: -0.0986328125em;
    color: rgb(255, 255, 255);
}
.icon-icons-all .path5:before {
    content: "\e90a";
    margin-left: -0.0986328125em;
    color: rgb(0, 124, 247);
}
.icon-icons-all .path6:before {
    content: "\e90b";
    margin-left: -0.0986328125em;
    color: rgb(255, 255, 255);
}
.icon-icons-all .path7:before {
    content: "\e90c";
    margin-left: -0.0986328125em;
    color: rgb(0, 124, 247);
}
.icon-icons-all .path8:before {
    content: "\e90d";
    margin-left: -0.0986328125em;
    color: rgb(255, 255, 255);
}
.icon-icons-all .path9:before {
    content: "\e90e";
    margin-left: -0.0986328125em;
    color: rgb(0, 124, 247);
}
.icon-icons-all .path10:before {
    content: "\e90f";
    margin-left: -0.0986328125em;
    color: rgb(255, 255, 255);
}
.icon-icons-all .path11:before {
    content: "\e910";
    margin-left: -0.0986328125em;
    color: rgb(0, 124, 247);
}
.icon-icons-all .path12:before {
    content: "\e911";
    margin-left: -0.0986328125em;
    color: rgb(255, 255, 255);
}
.icon-album:before {
    content: "\e912";
}
.icon-prof:before {
    content: "\e913";
}
.icon-rel:before {
    content: "\e914";
}
.icon-sos:before {
    content: "\e915";
}
.icon-arrow-left2:before {
    content: "\e902";
}
.icon-cross:before {
    content: "\e900";
}
.icon-facebook-official:before {
    content: "\e906";
}
.icon-google-plus2:before {
    content: "\e907";
}

