/*color*/
$primary: #223444;
$default: #c4d2dd;
$white: #fff;
$pink: #e3187b;
$pink_hover: #CD156F;
$pink-2: #eb1478;
$pink-2_hover: #d3136c;
$green: #02d1a8;
$blue: #0d83f6;
/*end color*/

/*font size*/
$font: 'PT Sans', sans-serif;
$h1: 48px;
$h2: 34px;
/*end font size*/

* {
	outline: none!important;
}
body {
	color: $primary;
	font-size: 18px;
	font-family: $font;
}
.block {
	display: block;
}
.b-header {
	h1 {
		margin: 0;
		font-size: $h1;
		font-weight: bold;
	}
} 
.container-position {
	position: relative;
	z-index: 1;
}
.inline-block {
	display: inline-block;
	vertical-align: middle;
}
.row-position {
	position: relative;
}
.unstyled-list {
	padding: 0;
	margin: 0;
	list-style: none;
}

.w-clear:after {
	content: "";
	display: table;
	clear: both;
}

@media(max-width:767px) {
	.img-responsive {
		margin: 0 auto;
	}
}